ConsoleApplicationForTest/Service References/ServiceReferenceNOTdata/UserDatabaseCreation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserDatabaseCreation" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/FamilyEconomicWcfServices/UserDatabaseCreationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/FamilyEconomicWcfServices/UserDatabaseCreationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserDatabaseCreation_MethodForTest_InputMessage">
    <wsdl:part name="parameters" element="tns:MethodForTest" />
  </wsdl:message>
  <wsdl:message name="IUserDatabaseCreation_MethodForTest_OutputMessage">
    <wsdl:part name="parameters" element="tns:MethodForTestResponse" />
  </wsdl:message>
  <wsdl:message name="IUserDatabaseCreation_CreateUserDataBase_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserDataBase" />
  </wsdl:message>
  <wsdl:message name="IUserDatabaseCreation_CreateUserDataBase_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserDataBaseResponse" />
  </wsdl:message>
  <wsdl:message name="IUserDatabaseCreation_CreateUserDataBaseUsingScript_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserDataBaseUsingScript" />
  </wsdl:message>
  <wsdl:message name="IUserDatabaseCreation_CreateUserDataBaseUsingScript_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserDataBaseUsingScriptResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserDatabaseCreation">
    <wsdl:operation name="MethodForTest">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserDatabaseCreation/MethodForTest" message="tns:IUserDatabaseCreation_MethodForTest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserDatabaseCreation/MethodForTestResponse" message="tns:IUserDatabaseCreation_MethodForTest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUserDataBase">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserDatabaseCreation/CreateUserDataBase" message="tns:IUserDatabaseCreation_CreateUserDataBase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserDatabaseCreation/CreateUserDataBaseResponse" message="tns:IUserDatabaseCreation_CreateUserDataBase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUserDataBaseUsingScript">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserDatabaseCreation/CreateUserDataBaseUsingScript" message="tns:IUserDatabaseCreation_CreateUserDataBaseUsingScript_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserDatabaseCreation/CreateUserDataBaseUsingScriptResponse" message="tns:IUserDatabaseCreation_CreateUserDataBaseUsingScript_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserDatabaseCreation" type="tns:IUserDatabaseCreation">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MethodForTest">
      <soap:operation soapAction="http://tempuri.org/IUserDatabaseCreation/MethodForTest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUserDataBase">
      <soap:operation soapAction="http://tempuri.org/IUserDatabaseCreation/CreateUserDataBase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUserDataBaseUsingScript">
      <soap:operation soapAction="http://tempuri.org/IUserDatabaseCreation/CreateUserDataBaseUsingScript" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserDatabaseCreation">
    <wsdl:port name="BasicHttpBinding_IUserDatabaseCreation" binding="tns:BasicHttpBinding_IUserDatabaseCreation">
      <soap:address location="http://localhost/FamilyEconomicWcfServices/UserDatabaseCreationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>